<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="console" xsi:type="ColoredConsole">
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />

            <layout xsi:type="CSVLayout" delimiter="Tab" withHeader="false">
                <column name="date" layout="[${date:format=HH\:mm\:ss}]" />
                <column name="logger" layout="${logger}" />
                <column name="level" layout="${level}" />
                <column name="message" layout="${message}" />
                <column name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>
        <target name="file" xsi:type="File" fileName="tg.log">
            <layout xsi:type="CSVLayout" delimiter="Tab" withHeader="false">
                <column name="date" layout="[${date:format=HH\:mm\:ss}]" />
                <column name="logger" layout="${logger}" />
                <column name="level" layout="${level}" />
                <column name="message" layout="${message}" />
                <column name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>